# Function Practice Exercises

I have done a course on Python from UDEMY (https://www.udemy.com/course/complete-python-bootcamp/). This exercise is taken from that course.

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [63]:
def lesser_of_two_evens(a,b):
    return (min(a,b) if (a%2 ==0 and b%2==0) else max(a,b))

In [64]:
# Check
lesser_of_two_evens(2,4)

2

In [65]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [66]:
def animal_crackers(text):
    lst = text.split()
    return True if lst[0][0] ==lst[1][0] else False

In [67]:
# Check
animal_crackers('Levelheaded Llama')

True

In [68]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [69]:
def makes_twenty(n1,n2):
    return True if (n1+n2 ==20 or n1==20 or n2 == 20) else False

In [70]:
# Check
makes_twenty(20,10)

True

In [71]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [72]:
def old_macdonald(name):
    lst = [i for i in name]
    lst[0] = lst[0].upper()
    lst[3] = lst[3].upper()
    return "".join(lst)

In [73]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [74]:
def master_yoda(text):
    text = text.split()
    text.reverse()
    return " ".join(text)

In [75]:
# Check
master_yoda('I am home')

'home am I'

In [76]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    return abs(n-100) <= 9 or abs(n-200) <= 9

In [78]:
# Check
almost_there(104)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [81]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == nums[i+1] == 3:
            return True
        else:
            pass
    return False

In [82]:
# Check
has_33([1, 3, 3])

True

In [83]:
# Check
has_33([1, 3, 1, 3])

False

In [84]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [85]:
def paper_doll(text):
    lst = [i for i in text]
    lst1 = []
    for i in range(len(lst)):
        lst1.append(lst[i])
        lst1.append(lst[i])
        lst1.append(lst[i])
    return "".join(lst1)

In [86]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [87]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [88]:
def blackjack(a,b,c):
    sm = sum([a,b,c])
    if sm <= 21:
        return sm
    elif sm > 21 and 11 in [a,b,c]:
        return (sm-10 if sm-10 <= 21 else "BUST")
    else:
        return "BUST"

In [89]:
# Check
blackjack(5,6,7)

18

In [90]:
# Check
blackjack(9,9,9)

'BUST'

In [91]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [92]:
def summer_69(arr):
    if 6 in arr:
        arr1 = [ele for ele in arr if ele not in arr[arr.index(6) : arr.index(9)+1]]
        return sum(arr1)
    else:
        pass
    return sum(arr)

In [93]:
# Check
summer_69([1, 3, 5])

9

In [94]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [95]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [96]:
def spy_game(nums):
    lst = [ele for ele in nums if ele in [0,7]]
    i = 0
    while i in range(len(lst)-2):
        if lst[i] == 0 and lst[i+1] == 0 and lst[i+2] == 7:
            return True
        else:
            i += 1
        continue
    return False

In [97]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [98]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [99]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [100]:
def count_primes(num):
    lst = [ele for ele in range(num+1) if (ele%2 != 0 and ele%3 != 0 and ele%5 != 0 and ele%7 != 0)]
    lst.extend([2,3,5,7])
    lst.remove(1)
    return len(lst)

In [101]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [102]:
def print_big(letter):
    pass

In [103]:
print_big('a')

## Great Job!