# What is NIFTY
NIFTY is a market index introduced by National Stock Exchange. NIFTY 50 is a benchmark based index and also the flagship of NSE, which showcases the top 50 equity stocks traded in the stock exchange out of a total of 1600 stocks. It basicaly gives the idea of status of stock market.

## Problem Data
We have NIFTY data for year 2019. Its basically a csv file having two columns vise Date and Closing stock price on that particular date. Let's first see how this data looks like than we will have multiple problems based on this data with subsequent solutions.

## Libraries Used
1. Numpy
2. Pandas

In [13]:
import numpy as np
import pandas as pd

In [23]:
nifty = pd.read_csv('nifty.csv', index_col = 0).iloc[:, 0]
#now we have used pandas inbuilt function to read csv file
#basically we are taking 0 column as index column which is date and than to make series of this dataframe we are reading first column only using <iloc[:, 0]>

In [26]:
nifty
#this is how our data looks like

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [28]:
nifty.head(15)
#reading first 15 values

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
Name: Close, dtype: float64

In [30]:
nifty.tail(15)
#reading last 15 values

Date
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, dtype: float64

Now we know how our data looks like. Let's move to our tasks now.
### Task 1
What fraction of days did the markets close higher than the previous day's close

In [33]:
nifty[1:] - nifty[:-1]
#this approach will not give us right results as we need to substract closing day values from their previous day values but using above snippet we are subtracting same days hence getting zero and null values.

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [35]:
np.sum((nifty.values[1:]-nifty.values[0:-1]>0)/len(nifty))
#Here we are subtracting values taking average our total no. days i.e. length of nifty

0.526530612244898

### Task 2
Compute moving average of the last 5 days.
Means calculate the changing average stock price for consecutive 5 days.

In [36]:
#refer to this link https://forum.onefourthlabs.com/t/nifty-case-study/7176/4 if you have done the PadhAI FDS course else ignore it and see the solution below
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [40]:
nifty.index[0]

'01-Jan-2019'

In [44]:
d = pd.Timestamp(nifty.index[0])
#this is pandas inbuilt function in replacement of Pandas datetime function basically to use datetime based index values

In [45]:
d

Timestamp('2019-01-01 00:00:00')

In [47]:
d.dayofweek
#returns day of week

1

In [49]:
new_index = map(pd.Timestamp , nifty.index)

In [52]:
new_nifty = pd.Series(nifty , index = new_index)

In [53]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [56]:
new_nifty.rolling(5).mean()
#rolling function is taking 5 values at a time. First four values are NaN as there are not enough values.

2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-07    10774.80
                ...
2019-12-24    12246.09
2019-12-26    12227.07
2019-12-27    12224.29
2019-12-30    12221.10
2019-12-31    12202.24
Name: Close, Length: 245, dtype: float64

### Task 3
Subset the data to include only data for Fridays

In [57]:
nifty[new_nifty.index.dayofweek ==4]

Date
04-Jan-2019    10727.35
11-Jan-2019    10794.95
18-Jan-2019    10906.95
25-Jan-2019    10780.55
01-Feb-2019    10893.65
08-Feb-2019    10943.60
15-Feb-2019    10724.40
22-Feb-2019    10791.65
01-Mar-2019    10863.50
08-Mar-2019    11035.40
15-Mar-2019    11426.85
22-Mar-2019    11456.90
29-Mar-2019    11623.90
05-Apr-2019    11665.95
12-Apr-2019    11643.45
26-Apr-2019    11754.65
03-May-2019    11712.25
10-May-2019    11278.90
17-May-2019    11407.15
24-May-2019    11844.10
31-May-2019    11922.80
07-Jun-2019    11870.65
14-Jun-2019    11823.30
21-Jun-2019    11724.10
28-Jun-2019    11788.85
05-Jul-2019    11811.15
12-Jul-2019    11552.50
19-Jul-2019    11419.25
26-Jul-2019    11284.30
02-Aug-2019    10997.35
09-Aug-2019    11109.65
16-Aug-2019    11047.80
23-Aug-2019    10829.35
30-Aug-2019    11023.25
06-Sep-2019    10946.20
13-Sep-2019    11075.90
20-Sep-2019    11274.20
27-Sep-2019    11512.40
04-Oct-2019    11174.75
11-Oct-2019    11305.05
18-Oct-2019    11661.85
25-Oct-2019    11583.90
01-Nov-2019    11890.60
08-Nov-2019    11908.15
15-Nov-2019    11895.45
22-Nov-2019    11914.40
29-Nov-2019    12056.05
06-Dec-2019    11921.50
13-Dec-2019    12086.70
20-Dec-2019    12271.80
27-Dec-2019    12245.80
Name: Close, dtype: float64