## Problem Data
We have two different CSV files i.e. NIFTY50 and NIFTYNEXT50.
We have following tasks to do on this data:

1. In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

2. In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

3. In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019

5. Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019

6. On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

7. In 2019, how many days had the day's high lower than the previous day's low in NIFTY50

8. In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)

## Libraries Used

1. Pandas
2. Numpy

In [2]:
import numpy as np
import pandas as pd

In [3]:
nifty50 = pd.read_csv("NIFTY50_2019.csv" , index_col = 0)
niftynext50 = pd.read_csv("NIFTYNEXT50_2019.csv" , index_col = 0)
#reading both files and using index_col to have date as my index column

In [4]:
nifty50

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55
...               ...       ...       ...       ...
07 Jan 2019  10804.85  10835.95  10750.15  10771.80
04 Jan 2019  10699.70  10741.05  10628.65  10727.35
03 Jan 2019  10796.80  10814.05  10661.25  10672.25
02 Jan 2019  10868.85  10895.35  10735.05  10792.50
01 Jan 2019  10881.70  10923.60  10807.10  10910.10

[245 rows x 4 columns]

In [5]:
niftynext50

                 Open      High       Low     Close
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55
30 Dec 2019  28528.95  28612.95  28406.70  28484.85
27 Dec 2019  28354.50  28500.25  28319.90  28476.80
26 Dec 2019  28409.10  28435.25  28259.75  28280.25
24 Dec 2019  28423.70  28430.40  28318.75  28382.85
...               ...       ...       ...       ...
07 Jan 2019  27893.95  27932.00  27652.95  27706.60
04 Jan 2019  27707.20  27842.75  27533.90  27719.50
03 Jan 2019  27874.05  28045.30  27630.20  27674.65
02 Jan 2019  28074.05  28188.40  27801.75  27876.95
01 Jan 2019  28243.95  28252.20  27988.60  28111.65

[245 rows x 4 columns]

### Task 1
In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

In [6]:
nifty50[nifty50["High"]>1.05*nifty50["Low"]]["Open"].count()

1

### Task 2
In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

In [7]:
niftynext50[niftynext50["High"]>1.05*niftynext50["Low"]]["Open"].count()

1

### Task 3
In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

In [8]:
nifty50_volatile = nifty50[nifty50["High"]>1.05*nifty50["Low"]]["Open"].count()
nifty50_non_volatile = nifty50[nifty50["High"]<=1.05*nifty50["Low"]]["Open"].count()
niftynext50_volatile = niftynext50[niftynext50["High"]>1.05*niftynext50["Low"]]["Open"].count()
niftynext50_non_volatile = niftynext50[niftynext50["High"]<=1.05*niftynext50["Low"]]["Open"].count()
print(" nifty50_volatile" , nifty50_volatile , "\n" , "nifty50_non_volatile" , nifty50_non_volatile , "\n" , "niftynext50_volatile" , niftynext50_volatile , "\n" , "niftynext50_non_volatile" , niftynext50_non_volatile)

 nifty50_volatile 1
 nifty50_non_volatile 244
 niftynext50_volatile 1
 niftynext50_non_volatile 244

### Task 4
Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019

In [9]:
nifty50

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55
...               ...       ...       ...       ...
07 Jan 2019  10804.85  10835.95  10750.15  10771.80
04 Jan 2019  10699.70  10741.05  10628.65  10727.35
03 Jan 2019  10796.80  10814.05  10661.25  10672.25
02 Jan 2019  10868.85  10895.35  10735.05  10792.50
01 Jan 2019  10881.70  10923.60  10807.10  10910.10

[245 rows x 4 columns]

In [10]:
new_index = map(pd.Timestamp , nifty50.index )
# changing datatype of our index column so as to recognise the day i.e. monday , tuesday etc.

In [11]:
new_nifty50 = pd.DataFrame(nifty50 , index = new_index)
# new dataframe with new datatime index

In [12]:
for i in range(5):
    print("\n" , "Weekday " , i+1 , "\n" , new_nifty50[new_nifty50.index.dayofweek == i].describe())
#used describe to calculate all as asked in problem. individual snippets can also be used

 Weekday  1
                Open          High           Low         Close
count     46.000000     46.000000     46.000000     46.000000
mean   11478.103261  11525.119565  11401.073913  11463.535870
std      452.453402    457.472630    464.591954    463.019749
min    10738.650000  10759.900000  10628.400000  10640.950000
25%    11017.412500  11089.450000  10985.612500  11054.887500
50%    11574.250000  11625.475000  11497.325000  11573.475000
75%    11852.625000  11920.650000  11826.200000  11879.775000
max    12274.900000  12287.150000  12213.800000  12262.750000

 Weekday  2
                Open          High           Low         Close
count     50.000000     50.000000     50.000000     50.000000
mean   11454.366000  11507.168000  11380.190000  11444.318000
std      466.996035    454.561556    467.333112    462.829541
min    10636.700000  10690.350000  10583.650000  10604.350000
25%    11016.050000  11032.987500  10890.425000  10958.050000
50%    11561.150000  11614.250000  11472.725000  11544.150000
75%    11834.925000  11866.262500  11719.362500  11794.125000
max    12269.250000  12283.700000  12202.100000  12214.550000

 Weekday  3
                Open         High           Low         Close
count     47.000000     47.00000     47.000000     47.000000
mean   11399.435106  11442.82234  11329.692553  11385.222340
std      440.975212    441.71388    450.043639    449.850387
min    10655.450000  10710.20000  10612.850000  10651.800000
25%    10984.175000  11044.50000  10921.125000  10974.050000
50%    11478.700000  11481.05000  11411.100000  11440.200000
75%    11756.300000  11837.17500  11719.975000  11789.175000
max    12197.000000  12237.70000  12163.450000  12221.650000

 Weekday  4
                Open          High           Low         Close
count     50.000000     50.000000     50.000000     50.000000
mean   11448.612000  11494.762000  11377.724000  11430.373000
std      466.917469    468.889128    471.759415    470.461726
min    10690.550000  10792.700000  10661.250000  10672.250000
25%    11011.612500  11062.725000  10891.350000  10980.700000
50%    11468.075000  11599.050000  11459.400000  11576.900000
75%    11864.187500  11926.300000  11813.450000  11843.200000
max    12223.400000  12268.350000  12191.150000  12259.700000

 Weekday  5
                Open          High           Low         Close
count     51.000000     51.000000     51.000000     51.000000
mean   11436.603922  11498.164706  11361.223529  11435.394118
std      470.604609    449.917590    466.723536    443.779665
min    10699.600000  10741.050000  10620.400000  10724.400000
25%    10987.300000  11058.825000  10899.550000  11029.325000
50%    11556.350000  11593.600000  11434.550000  11456.900000
75%    11863.175000  11884.600000  11772.500000  11817.225000
max    12266.450000  12293.900000  12252.750000  12271.800000

### Task 5
Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019

In [13]:
for i in range(12):
    print("\n" , "Month " , i+1 , "\n" , new_nifty50[new_nifty50.index.month == i+1].describe())

 Month  1
                Open          High           Low         Close
count     23.000000     23.000000     23.000000     23.000000
mean   10828.586957  10861.900000  10750.984783  10809.463043
std       83.166975     77.989118     88.470616     92.241175
min    10653.700000  10690.350000  10583.650000  10651.800000
25%    10789.350000  10816.250000  10685.450000  10754.700000
50%    10844.050000  10866.600000  10750.150000  10821.600000
75%    10890.675000  10928.175000  10809.525000  10888.550000
max    10949.800000  10987.450000  10885.750000  10961.850000

 Month  2
                Open          High           Low         Close
count     20.000000     20.000000     20.000000     20.000000
mean   10841.817500  10891.947500  10781.597500  10833.840000
std      110.311563    109.164182    117.152266    119.606867
min    10636.700000  10722.850000  10585.650000  10604.350000
25%    10779.012500  10799.337500  10720.812500  10778.900000
50%    10858.525000  10890.200000  10778.475000  10819.025000
75%    10888.062500  10943.950000  10832.125000  10898.300000
max    11070.450000  11118.100000  11043.600000  11069.400000

 Month  3
                Open          High           Low         Close
count     19.000000     19.000000     19.000000     19.000000
mean   11300.152632  11350.397368  11253.897368  11317.242105
std      242.787975    235.648510    229.217006    223.401346
min    10842.650000  10877.900000  10817.000000  10863.500000
25%    11073.350000  11134.975000  11043.475000  11113.125000
50%    11376.850000  11395.650000  11313.750000  11354.250000
75%    11487.075000  11545.025000  11423.775000  11472.725000
max    11625.450000  11630.350000  11570.150000  11623.900000

 Month  4
                Open          High           Low         Close
count     19.000000     19.000000     19.000000     19.000000
mean   11681.492105  11722.126316  11616.115789  11666.452632
std       66.620624     61.484287     56.902202     65.824517
min    11592.550000  11606.700000  11549.100000  11575.950000
25%    11625.675000  11681.975000  11570.725000  11601.250000
50%    11667.000000  11727.050000  11609.500000  11665.950000
75%    11731.175000  11758.625000  11652.050000  11719.675000
max    11856.150000  11856.150000  11738.500000  11787.150000

 Month  5
                Open          High           Low         Close
count     22.000000     22.000000     22.000000     22.000000
mean   11610.115909  11676.856818  11523.375000  11592.022727
std      279.379451    277.882378    269.359061    279.155921
min    11151.650000  11281.550000  11108.300000  11148.200000
25%    11316.212500  11374.737500  11256.250000  11316.212500
50%    11687.250000  11777.850000  11603.100000  11683.075000
75%    11861.612500  11919.812500  11699.500000  11840.137500
max    11999.800000  12041.150000  11864.900000  11945.900000

 Month  6
                Open          High           Low         Close
count     19.000000     19.000000     19.000000     19.000000
mean   11852.436842  11904.468421  11774.860526  11839.023684
std      119.058410    105.533059    110.939993    115.116579
min    11653.650000  11727.200000  11625.100000  11672.150000
25%    11756.300000  11835.725000  11663.975000  11756.475000
50%    11861.150000  11897.500000  11775.500000  11841.550000
75%    11944.325000  11968.750000  11848.300000  11910.125000
max    12052.650000  12103.050000  12005.850000  12088.550000

 Month  7
                Open          High           Low         Close
count     23.000000     23.000000     23.000000     23.000000
mean   11561.869565  11597.667391  11479.084783  11523.110870
std      257.427254    245.051182    263.258549    260.085388
min    11034.050000  11145.300000  10999.400000  11085.400000
25%    11347.350000  11379.775000  11270.300000  11307.675000
50%    11596.650000  11618.400000  11519.500000  11555.900000
75%    11723.000000  11739.275000  11616.775000  11675.050000
max    11964.750000  11981.750000  11923.650000  11946.750000

 Month  8
                Open          High           Low         Close
count     20.000000     20.000000     20.000000     20.000000
mean   10990.347500  11050.635000  10885.282500  10976.500000
std      109.287517     86.212069    111.391059     97.097806
min    10699.600000  10862.550000  10637.150000  10741.350000
25%    10924.050000  11020.462500  10830.375000  10924.062500
50%    11001.775000  11069.475000  10891.300000  11007.175000
75%    11069.900000  11092.525000  10948.025000  11046.525000
max    11139.400000  11181.450000  11062.800000  11109.650000

 Month  9
                Open          High           Low         Close
count     19.000000     19.000000     19.000000     19.000000
mean   11114.828947  11197.150000  11038.368421  11124.289474
std      305.000568    308.136259    311.505006    310.891386
min    10746.800000  10845.200000  10670.250000  10704.800000
25%    10878.300000  10962.275000  10800.675000  10846.275000
50%    10994.850000  11054.800000  10945.750000  11003.500000
75%    11480.500000  11536.600000  11403.450000  11457.325000
max    11590.700000  11694.850000  11539.200000  11600.200000

 Month  10
                Open          High           Low         Close
count     20.000000     20.000000     20.000000     20.000000
mean   11498.172500  11559.372500  11416.267500  11490.205000
std      211.169489    201.184876    220.714934    217.418539
min    11152.950000  11233.850000  11090.150000  11126.400000
25%    11332.487500  11392.825000  11238.062500  11313.825000
50%    11490.850000  11576.650000  11425.375000  11523.300000
75%    11648.900000  11680.875000  11559.212500  11609.862500
max    11890.450000  11945.000000  11855.100000  11877.450000

 Month  11
                Open          High           Low         Close
count     20.000000     20.000000     20.000000     20.000000
mean   11973.602500  12013.580000  11915.495000  11964.132500
std       86.544612     78.421775     79.934343     84.216057
min    11858.750000  11895.650000  11802.650000  11840.450000
25%    11910.700000  11955.837500  11859.912500  11904.975000
50%    11948.100000  11996.025000  11886.125000  11940.700000
75%    12022.237500  12050.075000  11959.187500  12018.462500
max    12146.200000  12158.800000  12099.950000  12151.150000

 Month  12
                Open          High           Low         Close
count     21.000000     21.000000     21.000000     21.000000
mean   12111.095238  12145.864286  12052.730952  12096.880952
std      127.092222    121.679912    133.914363    134.226928
min    11867.350000  11923.200000  11832.300000  11856.800000
25%    12026.400000  12057.050000  11935.300000  11994.200000
50%    12131.350000  12137.150000  12046.300000  12086.700000
75%    12223.400000  12258.450000  12163.450000  12221.650000
max    12274.900000  12293.900000  12252.750000  12271.800000

### Task 6
On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

In [14]:
new_index2 = map(pd.Timestamp , niftynext50.index )

In [15]:
new_niftynext50 = pd.DataFrame(niftynext50 , index = new_index2)

In [16]:
(new_niftynext50[new_nifty50.Close > new_nifty50.Open].Close - new_niftynext50[new_nifty50.Close > new_nifty50.Open].Open).sum()/len(new_niftynext50[new_nifty50.Close > new_nifty50.Open])

118.70188679245271

### Task 7
In 2019, how many days had the day's high lower than the previous day's low in NIFTY50

In [17]:
new_nifty50

                Open      High       Low     Close
2019-12-31  12247.10  12247.10  12151.80  12168.45
2019-12-30  12274.90  12286.45  12213.80  12255.85
2019-12-27  12172.90  12258.45  12157.90  12245.80
2019-12-26  12211.85  12221.55  12118.85  12126.55
2019-12-24  12269.25  12283.70  12202.10  12214.55
...              ...       ...       ...       ...
2019-01-07  10804.85  10835.95  10750.15  10771.80
2019-01-04  10699.70  10741.05  10628.65  10727.35
2019-01-03  10796.80  10814.05  10661.25  10672.25
2019-01-02  10868.85  10895.35  10735.05  10792.50
2019-01-01  10881.70  10923.60  10807.10  10910.10

[245 rows x 4 columns]

In [34]:
count = 0
for i in range(len(new_nifty50)-1):
    if new_nifty50.iloc[i].High < new_nifty50.iloc[i+1].Low:
        count += 1
    else:
        continue
print(count)
#carefully look at the index. data is given in reverse order hence the code snippet used as above

7

### Task 8
In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)

In [69]:
new_index3 = new_nifty50.index[::-1]
#reversed the index to get it in right order

In [36]:
new_index3

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
               '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=245, freq=None)

In [70]:
new_nifty50_reversed = pd.DataFrame(new_nifty50 , index = new_index3)
#reversed the complete data as per the reversed index

In [38]:
new_nifty50_reversed

                Open      High       Low     Close
2019-01-01  10881.70  10923.60  10807.10  10910.10
2019-01-02  10868.85  10895.35  10735.05  10792.50
2019-01-03  10796.80  10814.05  10661.25  10672.25
2019-01-04  10699.70  10741.05  10628.65  10727.35
2019-01-07  10804.85  10835.95  10750.15  10771.80
...              ...       ...       ...       ...
2019-12-24  12269.25  12283.70  12202.10  12214.55
2019-12-26  12211.85  12221.55  12118.85  12126.55
2019-12-27  12172.90  12258.45  12157.90  12245.80
2019-12-30  12274.90  12286.45  12213.80  12255.85
2019-12-31  12247.10  12247.10  12151.80  12168.45

[245 rows x 4 columns]

In [71]:
new_nifty50[new_nifty50.index.month == 1].count()
#counted number of days in first month to exclude it

Open     23
High     23
Low      23
Close    23
dtype: int64

In [66]:
count = 0
for i in range(23 ,len(new_nifty50_reversed)):
    if new_nifty50_reversed.iloc[i].Close > new_nifty50_reversed.rolling(30).mean().Close.iloc[i]:
        count += 1
    else:
        continue
print(count)
#Method 1

140

In [67]:
new_nifty50_reversed[new_nifty50_reversed.Close > new_nifty50_reversed.rolling(30).mean().Close].Close.count()
#Method 2

140