## Problem Data
We have two different CSV files i.e. NIFTY50 and NIFTYNEXT50.
We have following tasks to do on this data:

1. In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

2. In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

3. In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019

5. Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019

6. On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

7. In 2019, how many days had the day's high lower than the previous day's low in NIFTY50

8. In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50 (exclude first month)

## Libraries Used

1. Pandas
2. Numpy

In [3]:
import numpy as np
import pandas as pd

In [14]:
nifty50 = pd.read_csv("NIFTY50_2019.csv" , index_col = 0)
niftynext50 = pd.read_csv("NIFTYNEXT50_2019.csv" , index_col = 0)
#reading both files and using index_col to have date as my index column

In [15]:
nifty50

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55
...               ...       ...       ...       ...
07 Jan 2019  10804.85  10835.95  10750.15  10771.80
04 Jan 2019  10699.70  10741.05  10628.65  10727.35
03 Jan 2019  10796.80  10814.05  10661.25  10672.25
02 Jan 2019  10868.85  10895.35  10735.05  10792.50
01 Jan 2019  10881.70  10923.60  10807.10  10910.10

[245 rows x 4 columns]

In [16]:
niftynext50

                 Open      High       Low     Close
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55
30 Dec 2019  28528.95  28612.95  28406.70  28484.85
27 Dec 2019  28354.50  28500.25  28319.90  28476.80
26 Dec 2019  28409.10  28435.25  28259.75  28280.25
24 Dec 2019  28423.70  28430.40  28318.75  28382.85
...               ...       ...       ...       ...
07 Jan 2019  27893.95  27932.00  27652.95  27706.60
04 Jan 2019  27707.20  27842.75  27533.90  27719.50
03 Jan 2019  27874.05  28045.30  27630.20  27674.65
02 Jan 2019  28074.05  28188.40  27801.75  27876.95
01 Jan 2019  28243.95  28252.20  27988.60  28111.65

[245 rows x 4 columns]

### Task 1
In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

In [26]:
nifty50[nifty50["High"]>1.05*nifty50["Low"]]["Open"].count()

1

### Task 2
In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

In [27]:
niftynext50[niftynext50["High"]>1.05*niftynext50["Low"]]["Open"].count()

1

### Task 3
In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

In [29]:
nifty50_volatile = nifty50[nifty50["High"]>nifty50["Low"]]["Open"].count()
nifty50_non_volatile = nifty50[nifty50["High"]<=1.05*nifty50["Low"]]["Open"].count()
niftynext50_volatile = niftynext50[niftynext50["High"]>niftynext50["Low"]]["Open"].count()
niftynext50_non_volatile = niftynext50[niftynext50["High"]<=niftynext50["Low"]]["Open"].count()
print(" nifty50_volatile" , nifty50_volatile , "\n" , "nifty50_non_volatile" , nifty50_non_volatile , "\n" , "niftynext50_volatile" , niftynext50_volatile , "\n" , "niftynext50_non_volatile" , niftynext50_non_volatile)

 nifty50_volatile 245
 nifty50_non_volatile 244
 niftynext50_volatile 245
 niftynext50_non_volatile 0